@import '../../components/styles/variables.scss';
@import '../../components/styles/mixins.scss';
@import '../../components/styles/animations.scss';

.homepage {
  position: relative;
  width: calc(100% - 20px);
  max-width: 100vw;
  padding: 0 10px;
  .about-main {
    .page-header-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      // text-align: center;
      .title-container {
        display: flex;
        flex-direction: row;
        align-items: baseline;
      }
      h2 {
        margin: 10px auto 5px;
      }
      h3 {
        // position: relative;
        // z-index: 1;
        // background-color: #ffffff;
        // &:before {
        //   content: '';
        //   position: absolute;
        //   width: 23%;
        //   height: 76px;
        //   left: 60%;
        //   top: -43px;
        //   background: transparent;
        //   border: 3px solid rgba(20, 119, 0, 0.6);
        //   border-left: 0;
        //   border-radius: 3px;
        //   border-top-left-radius: 0;
        //   border-bottom-left-radius: 0;
        //   z-index: 2;
        // }
      }
      .header-side-icon {
        // float: right;
        i {
          color: $green;
          animation: bounceIn 3s ease-in 10s 1 normal forwards;
          font-size: 22px;
          margin-left: 15px;
        }

      }
    }
  }
  .section {
    h3 {
      border-bottom: 1px solid $green;
      width: max-content;
      padding-right: 10px;
    }
  }
  .language-icon-list-animation {
    width: 100%;
    margin-top: 10px;
    display: flex;
    // justify-content: center;
    .icon-list {
      ul.coding-icons {
        margin: 0 auto;
        padding: 0;
        list-style: none;
        display: flex;
        position: relative;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 80%;
        flex-direction: row;
        align-items: center;
        li {
          padding: 0;
          list-style: none;
          min-height: 30px;
          min-width: 40px;
          margin: 10px 5px;
          text-align: center;
          i {
            font-size: 32px;
            margin: auto;
            text-align: center;
            &.fa-js-square {
              color: rgb(247,224,24);
              background-color: #000000;
              border-radius: 4px;
            }
            &.fa-react {
              color: rgb(97,219,251);
            }
            &.fa-sass {
              color: rgb(247,131,172);
            }
            &.fa-angular {
              color: rgb(226,49,55);
            }
            &.fa-html5 {
              color: rgb(226,78,38);
            }
            &.fa-php {
              color: rgb(96,123,190);
            }
            &.fa-microsoft {
              color: rgb(0,140,242);
            }
          }
        }
      }
    }
  }
}



// .background-container {
//   width: 100%;
//   max-width: 100%;
//   position: relative;
//   height: 500px;
//   z-index: 0;
//   .background {
//     position: fixed;
//     width: 100%;
//     max-width: 100%;
//     .background-image {
//       background-image: url('../images/Trees.JPG');
//       width: 100%;
//       height: 500px;
//       max-width: 100%;
//       background-size: cover;
//       background-repeat: repeat;
//       position: relative;
//       background-position: center;
//     }
//     // .background-filter {
//     //   background-color: rgba(0, 0, 0, 0.15);
//     //   width: 100%;
//     //   height: 100%;
//     //   position: absolute;
//     //   top: 0;
//     // }
//   }
// }
