// &.fade-in {
//   animation-duration: 2s;
//   animation-timing-function: ease-in;
//   animation-delay: 0s;
//   animation-iteration-count: 1;
//   animation-direction: normal;
//   position: absolute;
// }
// &.fade-in-right {
//   animation-name: fadeInRight;
// }
// &.fade-in-left {
//   animation-name: fadeInLeft;
// }
// &.fade-in-top {
//   animation-name: fadeInTop;
// }
// &.fade-in-bottom {
//   animation-name: fadeInBottom;
// }
// &.bounce {
//   position: relative;
// }
// &.bounce-in {
//   animation: bounceIn 1s ease 0s 2 normal;
// }
// &.shake {
//   position: relative;
// }
// &.shake-in {
//   animation: shake 1s ease 0s 2 normal;
// }


@keyframes bounceIn {
  0%{
    opacity: 0;
    -webkit-transform: scale(.3);
    transform: scale(.3);
  }
  50%{
    opacity: 1;
    -webkit-transform: scale(1.5);
    transform: scale(1.0);
  }
  70%{
    -webkit-transform: scale(0.6);
    transform: scale(0.9);
  }
  100%{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes fadeInTop {
  0% {
    transform:  translate(0px,-25px)  rotate(0deg) ;
  }
  100% {
    transform:  translate(0px,0px)  rotate(0deg) ;
  }
}

@keyframes fadeInBottom {
  0% {
    transform:  translate(0px,25px)  rotate(0deg) ;
  }
  100% {
    transform:  translate(0px,0px)  rotate(0deg) ;
  }
}

@keyframes fadeInRight {
  0% {
    transform:  translate(50px,0px)  rotate(0deg) ;
  }
  100% {
    transform:  translate(0px,0px)  rotate(0deg) ;
  }
}

@keyframes fadeInLeft {
  0% {
    transform:  translate(-50px,0px)  rotate(0deg) ;
  }
  100% {
    transform:  translate(0px,0px)  rotate(0deg) ;
  }
}

@keyframes shake {
  0%{ -ms-transform: translateX(0); transform: translateX(0); }
  5%{ -ms-transform: translateX(-10px); transform: translateX(-10px); }
  10%{ -ms-transform: translateX(10px); transform: translateX(10px); }
  15%{ -ms-transform: translateX(-10px); transform: translateX(-10px); }
  20%{ -ms-transform: translateX(10px); transform: translateX(10px); }
  25%{ -ms-transform: translateX(-10px); transform: translateX(-10px); }
  30%{ -ms-transform: translateX(10px); transform: translateX(10px); }
  35%{ -ms-transform: translateX(-10px); transform: translateX(-10px); }
  40%{ -ms-transform: translateX(10px); transform: translateX(10px); }
  45%{ -ms-transform: translateX(-10px); transform: translateX(-10px); }
  50%{ -ms-transform: translateX(0); transform: translateX(0); }
}
